Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFyDCCBLCgAwIBAgIRAMEQsyf0krNp758/IjQ0IFUwDQYJKoZIhvcNAQELBQAw
      gY8xCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
      BgNVBAcTB1NhbGZvcmQxGDAWBgNVBAoTD1NlY3RpZ28gTGltaXRlZDE3MDUGA1UE
      AxMuU2VjdGlnbyBSU0EgRG9tYWluIFZhbGlkYXRpb24gU2VjdXJlIFNlcnZlciBD
      QTAeFw0yMDAzMzAwMDAwMDBaFw0yMTAzMzAyMzU5NTlaMB4xHDAaBgNVBAMMEyou
      dGhvcmF4c3R1ZGlvcy5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
      AQDi9Ti/uo3mS/47CAUG9Z5hvwhr+bwtsodSJy84ClhoGZirY3U8N+Wakihsv0Fh
      Znerap5Ok9+bKmQOP23baiC+wu02txJAb4wFRWC3YPv4I6CYupv2/fzcBumI5XF0
      rg6XT8ddbdyWiFhKB30LvAF+X3Nr6ulM0Ui6reDlq+PBsi+BahggqP+T0WIjF3Tt
      irXJaX2K7gdaDqr4aSl+Ir525QPR5vZYZCs6j+AV/cfeoHf6Mvj1+4Mk4DFtB6Gp
      NXqvswEEwBZykNsO+rZ4w34pQKsRuhwri3zTtaTnWCRCTPVznjPU0CtCmN1TEtmB
      XyXtX5OyFBDldWhaOeEHhgQXAgMBAAGjggKNMIICiTAfBgNVHSMEGDAWgBSNjF7E
      VK2K4Xfpm/mbBeG4AY1h4TAdBgNVHQ4EFgQUF42aW4rVFK+QU1bwGRxUTDjmlHow
      DgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUH
      AwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYLKwYBBAGyMQECAgcwJTAjBggrBgEF
      BQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9DUFMwCAYGZ4EMAQIBMIGEBggrBgEF
      BQcBAQR4MHYwTwYIKwYBBQUHMAKGQ2h0dHA6Ly9jcnQuc2VjdGlnby5jb20vU2Vj
      dGlnb1JTQURvbWFpblZhbGlkYXRpb25TZWN1cmVTZXJ2ZXJDQS5jcnQwIwYIKwYB
      BQUHMAGGF2h0dHA6Ly9vY3NwLnNlY3RpZ28uY29tMDEGA1UdEQQqMCiCEyoudGhv
      cmF4c3R1ZGlvcy5jb22CEXRob3JheHN0dWRpb3MuY29tMIIBAwYKKwYBBAHWeQIE
      AgSB9ASB8QDvAHUAfT7y+I//iFVoJMLAyp5SiXkrxQ54CX8uapdomX4i8NcAAAFx
      LP6S/AAABAMARjBEAiBfLmkIx/ALe4Gf1N0tMIrWaJvI1ohGknFllzb1aj4HkwIg
      G8G8OVti17YhjbavRrePcE704+fc8CE8nmwMVqNuqlYAdgCUILwejtWNbIhzH4KL
      IiwN0dpNXmxPlD1h204vWE2iwgAAAXEs/pLMAAAEAwBHMEUCIQDR+I/5MVmNL9cX
      ITbW5aXcaEs3c+huWy2LOTUpmbnbogIgasUVbiM0sfTI6p4YFDuCW94gWrgW1nmf
      9xmtCiKaNi4wDQYJKoZIhvcNAQELBQADggEBAIeJsGV8b632I0u6ehoZ+QJapADO
      sc4ViIAC3yjGWz7vpRLuHFh3wxxXMBipvwrezmK/6nQ9/Y4Z4qkWvzNGahs98DHJ
      bzHY67fl9SJ4JRkfWph0rlsimx3i1x4Yc/N8htEic0FG1HFX3N8Xd1RisHTW3PTC
      BnqdwbAr6zkjbpYIxgj+cMXNvs+R3eH0WxFh9Qo8GkDWe39b4LIpUJVTwksQpfFa
      LaH5mHZo9Uhy1uNSTSj/4arn7erFprBX0+UYVjrehpeHlgppErX9H2574dm1866k
      bFmjdQ2GiUE2cUj8Uo7wxOosPnz/IMS22yh5/5biHkc2jxpROZ5np2pbfqg=
      -----END CERTIFICATE-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"